header {
    width: 80%
    margin: auto;
    text-align: center;
    background-color: grey;
    color: white;
    padding-bottom: 50px;
}

#local-weather {
    background-color: bisque;
}

.fiveday {
    background-color: cornflowerblue;
    padding: 10 px;
}